<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Conta Criada com Sucesso</title>
</head>
<body>
    <p>Olá, <span th:text="${user}">user</span></p>
    <p>Sua conta no site <strong th:text="${appName}">Nova Software</strong> foi criada com sucesso!</p>
    <p>Agora você pode aproveitar todos os recursos disponíveis em nossa plataforma.</p>
    <p>Se tiver alguma dúvida ou precisar de assistência, não hesite em entrar em contato com nossa equipe de suporte.</p>
    <p>Atenciosamente,<br/>Equipe de Suporte <strong th:text="${appName}">Nova Software</strong></p>
</body>
</html>
