<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Redefinição de Senha - Código de Verificação</title>
</head>
<body>
    <p>Olá, <span th:text="${user}">user</span></p>
    <p>Recebemos uma solicitação para redefinir a senha da sua conta no site <strong th:text="${appName}">Nova Software</strong>.</p>
    <p>Seu código de verificação para redefinição de senha é: <strong th:text="${resetCode}">123456</strong></p>
    <p>Por favor, utilize este código para concluir o processo de redefinição de senha.</p>
    <p>Este código é válido por 10 minutos.</p>
    <p>Se você não solicitou essa redefinição de senha, ignore este e-mail.</p>
    <p>Atenciosamente,<br/>Equipe de Suporte <strong th:text="${appName}">Nova Software</strong></p>
</body>
</html>
